version: '3'
 
services:
 
  galera:
    deploy:
      mode: global
      replicas: 3
      restart_policy:
        condition: on-failure
        delay: 10s
    image: severalnines/centos-ssh
    ports:
      - 3306:3306
    environment:
      CLUSTER_TYPE: "galera"
      CLUSTER_NAME: "Galera_Docker"
      INITIAL_CLUSTER_SIZE: 3
      DB_ROOT_PASSWORD: "mypassword123"
    networks:
      - galera_cc
 
  clustercontrol:
    deploy:
      replicas: 1
      mode: global
      placement:
        constraints:
          - node.role == manager
    image: severalnines/clustercontrol
    ports:
      - 5000:80
    networks:
      - galera_cc
 
networks:
  galera_cc:
    driver: overlay